/* Mixins */
@mixin vertical-align {
  position: relative;
  top: 50%;
  // webpage says this but seems to not need it?
  // -webkit-transform: translateY(-50%);
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
}

.element p {
  @include vertical-align;
}

/* Placeholder selector */
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.element p {
  @extend %vertical-align;
}

/* END Mixins */


.offscreen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}


html{

}

body{
    background-color: $brand-primary;

}
.container, .container-fluid{
    background: $pale;
    border-width: 0;

}
a {
    color: $brand-primary;
    text-decoration: none;
}
h2, .h2 {font-size: 16px;}


