// Glyphicons font path
$icon-font-path:        "../fonts/";

// FONTS

@mixin font-helv() {
	font-family: 'Helvetica Neue', Helvetica,'liberation_sansregular', Arial, sans-serif;
	font-weight: 300;
	font-kerning: normal;
}

	


// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/* HOUSE COLORS */
$brand-primary:         #B0A9A2;
$pale-stone: #EFEEEA;
$pale-button: #F7F7F7;
$mid-stone: #C5C0B7;
$purple: #9F8BAD;

$dark: #333 ; //nearly black 
$pale: #fff ; //nearly white
$highlight: #EDA900 ; // orangy yellow



/* Change grid sizing to 960 */
$grid-gutter-width: 20px !default;
$pad-left : ($grid-gutter-width/2);

// Small screen / tablet
$container-tablet:             (920px + $grid-gutter-width) !default;

// Large screen / wide desktop
$container-large-desktop:      (940px + $grid-gutter-width) !default;
