.brand {
  max-width: 50%;
    margin: 15px 0 10px;
 
 }
 
.navbar-default .navbar-brand{
	font-size: 48px;
	font-weight: 600;
	width: 200px;
	line-height: 1em;
	border: none;
}

.row {
    // margin-left: 0;
    // margin-right: 0;
}



.menu {list-style: none;}

.navbar-default {// reset bootstrap ones using same class
    background-color: transparent;
    border-color: white;
    

    .navbar-brand{
    	color: $dark;
    	&:focus, &:hover {

    	}
    }
	.navbar-nav{
	
		@include font-helv();
		li a {
			color: $dark;
			border-color: $pale;
		}

		li a:hover {	
		
		border-bottom: 5px solid $highlight;
		}
		// override bootstrap nav-default colours.
		 > .active > a, 
		 > .active > a:focus, 
		 > .active > a:hover {
		background: none;
		color: black;
		border-color: $pale;
		border-bottom: 5px solid $highlight;
		}

	}
}



