


.page-header {
    border-bottom: none; // get rid of bootstrap default
    .home & {
    	padding-bottom: 0;
    	margin-bottom: 0;
     h1{
    	
    	@extend .offscreen;
	    }
	}
 }

 // Homepage Layout and category menu thing


#hometop  ul{
	list-style: none;
	padding-left: 0; // cancels out browser default list style 40px padding left
	li{
		
		a{
			@include vertical-align;
			display: block;
			border: 1px solid $brand-primary;
			padding: 1em 0.8em;
			height: 5em;
		.glyphicon{
			display: block;
			right: 1%;
			top: 76%;
			position: absolute;
		}

		}
	}
	&#menu-sectors li a {
		font-size: 2em;
		padding: 0em 0.5em;
		height: 4.5em;
		text-transform: uppercase;
		.menu-desc{
			text-transform: capitalize;
			display: block;
			font-size: 0.5em;
		}
		.glyphicon{

			top: 76%;
		}
	}
}


.home-image,
.intro {
	
	//border: 5px solid $pale;
	background-color: $brand-primary;
	margin-bottom: 2em;

	img {
	border:  3px solid black;
	}
	h1 { 
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	width: 60%;
	line-height: 1.3em;
	text-shadow: /* pseudo outline */
	   -2px -2px 0 #000,
	   2px -2px 0 #000,
	   -2px 2px 0 #000,
	   2px 2px 0 #000; 
 
       }
    aside {
    font-size: 12px;
	    &::before {
		content:  url('dist/images/info-icon.png');
		display: block;
		margin: 12px 0 0;
		}
    }   
}

.homebottom {
	@extend .row;
	> h2{
		padding-left: $pad-left;
	}
	article {
		@extend .col-sm-6;
	}
}

// SINGLE PROJECT PAGE


.single-project {
	.entry-title {
		padding-left: $pad-left;
	}
	.entry-thumb img{
		width: 100%;
		height: auto;
	}
}

/// OUR EXPERTISE PAGE

.peoplesection ul {
	padding-left: 0;
	position: relative;
	li{
		list-style: none; 
		padding-left: 0; 
		position: static; 
		background-color: $pale;
		min-height: 460px;
		&.def{
			height: 200px;
			min-height: 0;
			.expert{
				display: none;
			}
		}
	}

	.expert {
		width: 100%; 
		position: absolute; 
		left: 0; 
		background-color: $dark;
		color: $pale;
		margin-top: $pad-left;
		height: 300px;
		div {position: static;}
	}
	
}